<div class="header-container">
    <app-header />
</div>

<!--  BEGIN MAIN CONTAINER  -->
<div class="main-container" id="container">

    <div appOverlay class="overlay"></div>

    <!--  BEGIN SIDEBAR  -->
    <div appSidebarWrapper class="sidebar-wrapper sidebar-theme">
        <app-sidebar />
    </div>
    <!--  END SIDEBAR  -->

    <!--  BEGIN CONTENT AREA  -->
    <div id="content" class="main-content">
        <div class="layout-px-spacing" style="height: calc(100vh - 92px); overflow: auto;">
            <router-outlet />
        </div>
    </div>
    <!--  END CONTENT AREA  -->

</div>
<!-- END MAIN CONTAINER -->