<p-toast key="delete-role-ok"/>
<p-toast key="delete-role-error"/>

<p-breadcrumb [model]="itemsBreadCrumb()" [home]="home()" styleClass="bg-[transparent]"/>

<p-toolbar styleClass="mb-1">
    <ng-template #start>
    </ng-template>

    <ng-template #end>
        <p-button label="New" icon="pi pi-plus" severity="primary" size="small" class="mr-2" />
    </ng-template>
</p-toolbar>

<p-panel header="Manage Roles" [toggleable]="true">
    <p-table
        #dt
        [lazy]="true"
        [totalRecords]="roleTable().total"
        [value]="roleTable().data"
        [rows]="roleTable().rows"
        [loading]="roleTable().loading"
        [rowsPerPageOptions]="[10, 20, 30]"
        [paginator]="true"
        [lazyLoadOnInit]="true"
        [sortOrder]="-1"
        sortMode="single"
        
        selectionMode="single"
        sortField="createdAt"
        size="small"
        (onLazyLoad)="onLazyRoles($event)"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} products"
        [rowHover]="true"
        [tableStyle]="{ 'min-width': '100%' }"
        dataKey="id"
        [showCurrentPageReport]="true"
        showGridlines
        scrollHeight="calc(100dvh - 23.25rem)"
        [scrollable]="true"
    >
        <ng-template #header>
            <tr>
                <th class="w-[180px] min-w-[180px] max-w-[180px]" pSortableColumn="name" >
                    Name
                    <p-sortIcon field="name" />
                </th>
                <th class="w-[250px] min-w-[250px] max-w-[250px]"> Description </th>
                <th class="w-[100px] min-w-[100px] max-w-[100px]" pSortableColumn="status">
                    Status
                    <p-sortIcon field="status" />
                </th>
                <th class="w-[150px] min-w-[150px] max-w-[150px]" pSortableColumn="createdAt">
                    Created
                    <p-sortIcon field="createdAt" />
                </th>
                <th class="w-[150px] min-w-[150px] max-w-[150px]"> Updated </th>
                <th class="w-[130px] min-w-[130px] max-w-[130px] !text-center">Actions</th>
            </tr>
        </ng-template>

        <ng-template #emptymessage>
            <tr>
                <td class="!text-center" colspan="6">No roles found.</td>
            </tr>
        </ng-template>
    </p-table>
</p-panel>